/*
 * @file
 * Provides the layout styles for layout_twocol_bricks.
 */

.layout--twocol-tabbed-bricks .tab-content .pane-content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.layout--twocol-tabbed-bricks .layout__region {
  flex: 0 1 100%;
}

.layout--twocol-tabbed-bricks .block {
  margin: 10px;
}

@media screen and (min-width: 40em) {
  .layout--twocol-tabbed-bricks .layout__region--first-above,
  .layout--twocol-tabbed-bricks .layout__region--second-above,
  .layout--twocol-tabbed-bricks .layout__region--first-below,
  .layout--twocol-tabbed-bricks .layout__region--second-below {
    flex: 0 1 50%;
  }
}
