{#
/**
 * @file
 * Cloud Orchestrator dashboard page.
 */
#}
<div class="layout layout--twocol-tabbed-bricks">
  {% if top %}
    <div class="layout__region layout__region--top">
      {{ top }}
    </div>
  {% endif %}
  <div class="tabbable-panel">
    {% if content %}
      <ul class="nav nav-tabs">
        {% for tab in content %}
          <li class="tab-pane{% if loop.index == 1 %} active{% endif %}">
            <a href="#tab_default_{{ loop.index }}"
               data-toggle="tab">{{ tab.label }}</a>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for tab in content %}
          <div class="tab-pane {% if loop.index == 1 %} active {% endif %}"
               id="tab_default_{{ loop.index }}">
            <div class="pane-content">
              {% if tab.top %}
                <div class="layout__region layout__region--top">
                  {{ tab.top }}
                </div>
              {% endif %}
              {% if tab.first_above %}
                <div class="layout__region layout__region--first-above">
                  {{ tab.first_above }}
                </div>
              {% endif %}
              {% if tab.second_above %}
                <div class="layout__region layout__region--second-above">
                  {{ tab.second_above }}
                </div>
              {% endif %}
              {% if tab.middle %}
                <div class="layout__region layout__region--middle">
                  {{ tab.middle }}
                </div>
              {% endif %}
              {% if tab.first_below %}
                <div class="layout__region layout__region--first-below">
                  {{ tab.first_below }}
                </div>
              {% endif %}
              {% if tab.second_below %}
                <div class="layout__region layout__region--second-below">
                  {{ tab.second_below }}
                </div>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
    {% if bottom %}
      <div class="layout__region layout__region--bottom">
        {{ bottom }}
      </div>
    {% endif %}
  </div>
</div>
